body {
  font-family: "Saira", sans-serif;
  width: 100%;
}

.header {
  background-image: linear-gradient(
      rgba(188, 236, 255, 0.8),
      rgba(117, 193, 255, 0.8)
    ),
    url("../images/snowflakes.jpg");
  background-size: cover;
  border-bottom: 5px solid #d41524;
}

/***** NAVIGATION *****/
a {
  color: #fffafa;
  margin-right: 5rem;
}

a:hover {
  color: #d41524;
  margin-right: 5rem;
}

.halloween {
  font-family: "Lacquer", sans-serif;
  font-size: 1.8rem;
}

.christmas {
  font-family: "Mountains of Christmas", sans-serif;
  font-size: 1.8rem;
}

/***** GAME *****/
.jumbotron-fluid {
  color: #fffafa;
  height: 25vh;
  margin-top: 0;
  margin-bottom: 0;
  padding: 4rem 2rem;
  text-align: center;
}

.heading-primary {
  color: #fffafa;
  font-family: "Frijole", sans-serif;
  font-size: 4rem;
}

.heading-secondary {
  font-size: 2rem;
}

.heading-tertiary {
  font-size: 1rem;
  text-transform: uppercase;
}

.card-title {
  margin-bottom: 0.25rem;
}

.card-guess-word {
  background-image: linear-gradient(
    to right bottom,
    rgba(156, 200, 139, 0.8),
    rgba(156, 200, 139, 1)
  );
  border: none;
  border-radius: 20px;
  color: #fffafa;
  height: 150px;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
}

#guessWord {
  font-size: 2rem;
  letter-spacing: 0.8rem;
}

.card-guesses {
  border: 3px solid #9cc88b;
  border-radius: 20px;
  height: 120px;
  margin-top: 15px;
  text-align: center;
}

#guesses {
  font-size: 1.25rem;
  letter-spacing: 0.8rem;
}

.card-remaining {
  background-image: linear-gradient(
    to right bottom,
    rgba(156, 200, 139, 0.8),
    rgba(156, 200, 139, 1)
  );
  border: none;
  border-radius: 50%;
  color: #fffafa;
  height: 120px;
  margin: 15px auto 65px auto;
  padding-top: 10%;
  text-align: center;
  width: 120px;
}

#guessesRemaining {
  font-size: 1.25rem;
}

.card-wins {
  background-image: linear-gradient(
    to right bottom,
    rgba(156, 200, 139, 0.8),
    rgba(156, 200, 139, 1)
  );
  border: none;
  border-radius: 50%;
  color: #fffafa;
  height: 120px;
  margin: 15px auto 65px auto;
  padding-top: 10%;
  text-align: center;
  width: 120px;
}

#wins {
  font-size: 1.25rem;
}

.card-losses {
  background-image: linear-gradient(
    to right bottom,
    rgba(156, 200, 139, 0.8),
    rgba(156, 200, 139, 1)
  );
  border: none;
  border-radius: 50%;
  color: #fffafa;
  height: 120px;
  margin: 15px auto 65px auto;
  padding-top: 10%;
  text-align: center;
  width: 120px;
}

#losses {
  font-size: 1.25rem;
}

p {
  text-align: center;
}
/***** FOOTER *****/
.footer {
  background-color: #75c1ff;
  color: #fffafa;
  height: 3rem;
}

.footer-text {
  font-size: 0.75rem;
}
